body {
  margin: 0;
  padding: 0;
}

#map {
  width: 90%;
  height: 600px;
  margin: 5em auto;
}


.mapboxgl-popup-content h4 {
font-weight: 300;
font-size: 0.9em;
border-width: 0px 0px 0.5px 0px;
border-style: solid;
border-color: rgb(80, 80, 80);
margin-top: 0.5em;
margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
font-weight: 500;
margin-top: 0.5em;
margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
font-weight: 300;
margin-top: 0.3em;
margin-bottom: 0em;
}


.title {
background-color: #fff;
opacity: 80%;
border-radius: 1em;
top: 2em;
box-shadow: 0 1px 2px rgba(12, 12, 12, 0.1);
font: .9em/.9em 'Open Sans', sans-serif;
line-height: 2.5em;
padding: 1em 2em 0em;
position: absolute;
max-width: 20%;
margin: 0em 5em;
z-index: 100;
}
.title h1{
opacity: 100%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:x-large;
}
.title p {
line-height: 1.5em;
opacity: 100%;
}

.title div span {
border-radius: 50%;
display: inline-block;
height: 10px;
margin-left: 5px;
width: 10px;
}
.title hr {
border-top: .2em dashed #404040;
border-bottom: 0em;
margin-top: .75em;
margin-bottom: .75em;
}

legend {
  font: 1em 'Open Sans', sans-serif;
  padding: 1em 1em 1em;
  position: relative;
  right: 10px;
  z-index: 100;
  opacity: 100%;
}

.legend h4 {
  margin: 0 0 10px;
  opacity: 100%
}

.legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 10px;
  margin-top: 0px;
  margin-right: 10px;
  width: 15px;
}


.container {
  width: 90%;
  position: relative;
  margin: 5em auto;
}

.footer {
  margin-top: -3em;
  margin-left: 8em;
  margin-right: 5em;
  font-size: 18px;
  font-family: Georgia;

}

.title-map {
text-align: center;
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-story p {

  font-size: 14pt;
  font-family:Georgia;
  margin-left: 22em;
  margin-right: 20em;
  line-height: 2em;

}